<div class="bg" style="background-image: url('assets/img/Fondo.png')">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Title -->
            <div class="title my-4">
                <h1>Crear Cliente</h1>
            </div>

            <!-- Login Form -->
            <form #cli_form="ngForm" (ngSubmit)=guardar(cli_form)>
                <input type="text" [(ngModel)]="clientes.nombre" class="fadeIn second" name="nombre"
                    placeholder="Nombre Completo">
                <input type="text" [(ngModel)]="clientes.documento" class="fadeIn third" name="documento"
                    placeholder="Documento de identidad">
                <input type="text" [(ngModel)]="clientes.correo" class="fadeIn second" name="correo"
                    placeholder="Correo electronico">
                <input type="text" [(ngModel)]="clientes.celular" class="fadeIn third" name="celular"
                    placeholder="Número Celular">
                <input type="text" [(ngModel)]="clientes.direccion" class="fadeIn third" name="Dirección"
                    placeholder="Dirección">

                <input type="submit" class="fadeIn" value="Crear">
                <a type="button" class="fadeIn fourth " href="facturar">Volver</a>
            </form>

        </div>
    </div>
</div>