<div class="bg">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="title my-4">
                <h1>Iniciar Sesión</h1>
            </div>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre Completo">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Documento de identidad">
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo electronico">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Número Celular">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Dirección">

                <a type="button" class="fadeIn fourth" href="login">Crear</a>
                <a type="button" class="fadeIn fourth " href="login">Volver</a>
            </form>

        </div>
    </div>
</div>