<div class="bg" style="background-image: url('assets/img/Fondo.png')">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="title my-4">
                <h1>Producto</h1>
            </div>

            <!-- Login Form -->
            <form #prod_form="ngForm" (ngSubmit)=guardar(prod_form)>
                <img [src]="productos.imagen" class="card-img-top w-75 mb-2" alt="...">
                <input class="mt-2" class="fadeIn" type="text" [(ngModel)]="productos.codigo" name="codigo"
                    placeholder="Código Producto">
                <input type="text" class="fadeIn" [(ngModel)]="productos.nombre" name="nombre" required
                    placeholder="Producto">
                <input type="text" class="fadeIn" [(ngModel)]="productos.precio" name="precio" required
                    placeholder="Precio">

                <input class="mt-2" type="text" [(ngModel)]="productos.imagen" name="imagen"
                    placeholder="imagen base64">
                <br>
                <label> Tallas y cantidades:</label>
                <br>

                <label> XS:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.xs" name="xs" required placeholder="XS"
                    maxlength="2">
                <label> S:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.s" name="s" required placeholder="S"
                    maxlength="2">
                <label> M:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.m" name="m" required placeholder="M"
                    maxlength="2"><br>
                <label> L:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.l" name="l" required placeholder="L"
                    maxlength="2">
                <label> XL:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.xl" name="xl" required placeholder="XL"
                    maxlength="2">
                <label> Unica:</label>
                <input type="text" class="fadeIn col-2" [(ngModel)]="productos.unica" name="unica" required
                    placeholder="Unica" maxlength="2">

                <input type="submit" class="fadeIn" value="Guardar">
                <a type="button" class="fadeIn fourth " [routerLink]="['/inventario']"
                    routerLinkActive="router-link-active">Volver</a>
            </form>

        </div>
    </div>
</div>