<div class="bg" style="background-image: url('assets/img/Fondo.png')">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="title my-4 px-3">
        <h1>Encuentra tu contraseña</h1>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo electrónico">
        <a type="button" class="fadeIn fourth" href="login">Buscar</a>
        <a type="button" class="fadeIn fourth " href="login">Cancelar</a>
      </form>

    </div>
  </div>
</div>