<app-header></app-header>

<div class="mx-auto w-75 table-responsive" style="margin-top: 5rem;">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Xs</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                <th scope="col">Unica</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of productos">
            <tr>
                <th scope="row text-center">{{item.codigo}}
                </th>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                <td>{{item.xs}}</td>
                <td>{{item.s}}</td>
                <td>{{item.m}}</td>
                <td>{{item.l}}</td>
                <td>{{item.xl}}</td>
                <td>{{item.unica}}</td>
                <td><a class="btn list-group-item-warning"
                        [routerLink]="['/producto', item.id_producto]">Modificar</a><a
                        class="btn ml-lg-3 list-group-item-danger">Ocultar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn colorbtn" [routerLink]="['/producto/nuevo']" routerLinkActive="router-link-active">Agregar
        Productos</a>
</div>