<app-header></app-header>

<div class="mx-auto w-75 table-responsive" style="margin-top: 5rem;">
    <input class="form-control" id="myInput" type="text" (input)="search()" placeholder="Search..">
    <br>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Producto</th>
                <th scope="col">Color</th>
                <th scope="col">Precio</th>
                <th scope="col">Talla</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr *ngFor="let item of productos;">
                <th scope="row text-center">{{item.codigo}}
                </th>
                <td>{{item.nombre}}</td>
                <td>{{item.color}}</td>
                <td>${{item.total}}</td>
                <td style="width: 2%;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngIf='item.talla[0].unidades !== 0' type="button" class="btn btn-secondary">
                            {{item.talla}}<span class="badge badge-light ml-1">{{item.cantidad}}</span>
                        </button>
                    </div>
                </td>
                <td>{{item.estado}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn list-group-item-warning" [routerLink]="['/producto', item.idProducto]"><i
                                class="far fa-edit"></i></button>
                        <button class="btn list-group-item-danger" *ngIf="item.estado === 'Activo'" (click)="ocultar(item)"><i class="far fa-eye-slash"></i></button>
                        <button class="btn list-group-item-success" *ngIf="item.estado === 'Inactivo'" (click)="
                            activar(item)"><i class="far fa-eye"></i></button>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn colorbtn" [routerLink]="['/producto/nuevo']" routerLinkActive="router-link-active"><i
        class="fas fa-plus"></i> Agregar Productos</a>
    <button type="button" class="btn colorbtn" (click)="mail()"><i class="fas fa-plus"></i> send nudes</button>
</div>