<!--a class="btn btn-success w-100" [routerLink]="['/producto', 'nuevo']" routerLinkActive="router-link-active">New
    producto</a-->
<app-header></app-header>
<div class="row w-100 mx-auto">
    <ng-container *ngFor="let item of productos">
        <div class="card col-md-3 col-xs-12 mx-auto border-0" style="margin-top: 5rem;" *ngIf="item.estado == 'Activo'">
            <div class="row no-gutters">
                <img [src]="item.imagen" class="card-img-top mt-3" alt="...">
                <div class="card-body">
                    <h5 class="w-100 card-title">{{item.codigo}} - {{item.nombre}}</h5>
                    <br>
                    <p class="card-text">Precio: {{item.precio}}</p>
                    <div class="row">
                        <div class="col-12 card-text pl-3 mb-3"> Tallas Disponibles:</div>
                        <div class="botontalla mx-2" *ngIf="item.xs !=0 "> xs</div>
                        <div class="botontalla mx-2" *ngIf="item.s !=0 "> s</div>
                        <div class="botontalla mx-2" *ngIf="item.m !=0 "> m</div>
                        <div class="botontalla mx-2" *ngIf="item.l !=0 "> l</div>
                        <div class="botontalla mx-2" *ngIf="item.xl !=0 "> xl</div>
                        <div class="botontalla mx-2" *ngIf="item.unica !=0 "> un</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>