<div class="bg" style="background-image: url('assets/img/Fondo.png')">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="title my-4">
        <h1>Iniciar Sesión</h1>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña">
        <div class="form-check form-check-inline my-3">
          <label class="form-check-label mr-3" for="exampleCheck1">Recordar Usuario</label>
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
        </div><br>
        <!--input type="submit" class="fadeIn fourth " value="Ingresar"-->
        <a type="button" class="fadeIn fourth " href="dashboard">Ingresar</a>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="forgotPassword">¿Olvidaste tu contraseña?</a>
      </div>

    </div>
  </div>
</div>