<div class="row m-3 p-3 border border-dark">
    <div class="col-7">
        <div class="row">
            <div class="col-3"><img style="width: 8rem;" src="../../../assets/img/Angora.png" alt="Logo"></div>
            <div class="col-9">
                <h6>Angora Sacos</h6>
                <h6>NIT: 123456789-1</h6>
                <h6>Calle 132C 140-34 L 4-108 Bogotá, Colombia</h6>
                <p style="font-size: smaller;">Responsable IVA - Régimen Común - Somos retenedores de IVA <br>Resolución DIAN No. 18763001424545 - Fecha: 11/01/2019 <br> Autoriza desde AD91 hasta AD9500000
                </p>
            </div>
            <div class="col-4 border border-dark">
                <label for="Cliente">
                    CLIENTE:
                </label><br>
                <label for="Identificacion">
                    Identificación:
                </label><br>
                <label for="">Código Cliente:</label> <br>
                <label for="">Teléfono:</label> <br>
                <label for="">Dirección:</label> <br>
            </div>
            <div class="col-7 border border-dark">
                <label>{{facturas.cliente.nombre}}</label> <br>
                <label>{{facturas.cliente.documento}}</label><br>
                <label>{{facturas.cliente.idCliente}}</label><br>
                <label>{{facturas.cliente.celular}}</label> <br>
                <label>{{facturas.cliente.direccion}}</label>
            </div>
        </div>

    </div>
    <div class="col-5">
        <div class="border border-dark  text-center mb-3 py-3">
            <h3>FACTURA DE VENTA</h3>
        </div>
        <div class="row">
            <div class="col-5 ml-3 border border-dark">
                <label for="">Número Interno:</label><br>
                <label for="">Fecha de compra:</label><br>
                <label for="">Teléfono:</label><br>
                <label for="">Contacto:</label><br>
                <label for="">Ciudad:</label><br>
            </div>
            <div class="col-6 border border-dark">
                <label for="" style="font-size: 0.9rem;">{{facturas.idFactura}}</label><br>
                <label for="">{{facturas.fecha}}</label><br>
                <label for="">(+57) 304 4984526</label><br>
                <label for="">Cliente Online</label><br>
                <label for="">Bogotá</label><br>
            </div>
        </div>
    </div>

    <div class=" border border-dark mt-3 col-12 mr-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Talla</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Valor unitario</th>
                    <th scope="col">IVA</th>
                    <th scope="col">IVA %</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of facturas.producto;">
                    <th scope="row text-center">{{item.codigo}}
                    </th>
                    <th>{{item.nombre}}</th>
                    <th>{{item.talla}}</th>
                    <th>{{item.cantidad}}</th>
                    <th>${{item.subtotal}}</th>
                    <th>${{item.IVA}}</th>
                    <th>{{item.Ivap}}%</th>
                    <th>${{item.total}}</th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class=" border border-dark mt-3 col-12 mr-5">
        <div class="row">
            <div class="col-3">
                <img style="width: 15rem; padding-top: 0.8rem;" src="https://ventadeguiaspantone.com/wp-content/uploads/2019/08/gracias-por-tu-compra.png" alt="Logo">

            </div>
            <div class="col-5" style="font-weight: bold; font-size: large;">
                <div style="height: 1.8rem;"></div>
                <label for="">Total Unidades: </label> <label for=""> {{facturas.cantidad}}</label> <br>
                <label for=""> {{totalletras}}</label> <br>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6"><label class="text-right" style="font-weight: bold; font-size: large;" for="">SUBTOTAL:</label></div>
                    <div class="col-6"><label class="text-right" style="font-size: large;" for="">
                            {{facturas.subtotal}}</label>
                    </div>

                    <div class="col-6"><label class="text-right" style="font-weight: bold; font-size: large;" for="">IVA:</label></div>
                    <div class="col-6"><label class="text-right" style="font-size: large;" for="">
                            {{facturas.iva}}</label>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-6"><label class="text-right" style="font-weight: bold; font-size:large;" for="">TOTAL:</label></div>
                    <div class="col-6"><label class="text-right" style=" font-size:large;" for="">
                            {{facturas.total}}</label>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>