<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/dashboard']">
        <img src="assets/img/Angora.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    </a>


    <div class="row login mr-0">
        <div class="col-1 mr-0 my-auto p-0">
            <img src="assets/img/user.png" width="30" height="30" class="d-inline-block align-top" alt=""
                loading="lazy" />
        </div>
        <div class="col-11 mr-0 pr-0">
            <label class="my-0 ">Nombre de usuario</label><br>
            <a href="login" class="my-0">Cerrar sesión</a>
        </div>
    </div>
</nav>

<div class="d-flex h-100 mx-auto">
    <div class="row mx-auto">
        <div class="col-lg-3 mx-auto mt-5 pt-5" *ngFor="let item of center">
            <a [routerLink]="['/',item.url]">
                <div class="card" style="width: 18rem;">
                    <img [src]="item.imagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.texto}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>