<app-header></app-header>

<!--form #prod_form="ngForm" (ngSubmit)=guardar(prod_form) class="arribap"-->
<form class="arribap">
    <div class="form-row w-100">
        <!--inputs-->
        <div class="col-4 pl-md-5 pl-2">
            <div class="title text-center my-4 col-12">
                <h4>PRODUCTO</h4>
            </div>
            <label class="col-md-3 mr-2"> Código: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.codigo" name="codigo" required
                placeholder="Código Producto" maxlength="2">
            <label class=" col-md-3 mr-2"> Cantidad: </label>
            <input type="text" class="fadeIn col-md-8" required placeholder="Cantidad" maxlength="2">

            <div class="title my-4 text-center col-12">
                <h4>DESCUENTO</h4>
            </div>
            <label class="col-md-3 mr-2"> Código: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                placeholder="Código Descuento" maxlength="2">
            <label class=" col-md-3 mr-2"> Valor: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required placeholder="Valor"
                maxlength="2">
            <div class="text-center col-12 mt-4">
                <a type="button" class="fadeIn fourth" [routerLink]="['/inventario']"
                    routerLinkActive="router-link-active">Agregar Producto</a>
            </div>

            <div class="title my-4 text-center col-12">
                <h4>CLIENTE</h4>
            </div>

            <label class="col-md-3 mr-2"> Cedula: </label>

            <input type="text" class="fadeIn col-md-8" placeholder="Search" />
            <label class="col-md-3 mr-2"> Código: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                placeholder="Código Cliente" maxlength="2">
            <label class=" col-md-3 mr-2"> Nombre: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                placeholder="Nombre" maxlength="2">
            <label class="col-md-3 mr-2"> Teléfono: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                placeholder="Teléfono" maxlength="2">
            <label class=" col-md-3 mr-2"> Dirección: </label>
            <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                placeholder="Dirección" maxlength="2">

            <div class="text-center col-12 mt-3">
                <a type="button" class="fadeIn fourth" [routerLink]="['/inventario']"
                    routerLinkActive="router-link-active">Asociar Cliente</a>
            </div>
            <div class="text-center col-12 mt-4">
                <a type="button" class="fadeIn fourth" [routerLink]="['/crearCliente']"
                    routerLinkActive="router-link-active">Crear Cliente Nuevo</a>
            </div>
        </div>
        <!--tabla y total-->
        <div class="col-7">
            <div class="mx-auto w-75 table-responsive h-75 my-4">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Valor unitario</th>
                            <th scope="col">IVA</th>
                            <th scope="col">Descuento</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of productos">
                        <tr>
                            <th scope="row text-center">{{item.codigo}}
                            </th>
                            <td>{{item.nombre}}</td>
                            <td>{{item.precio}}</td>
                            <td>{{item.xs}}</td>
                            <td>{{item.s}}</td>
                            <td>{{item.m}}</td>
                            <td>{{item.l}}</td>
                            <td>{{item.xl}}</td>
                            <td>{{item.unica}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 position-absolute" style="right:0;">

                <label class=" col-md-3 mr-2"> SUBTOTAL: </label>
                <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                    placeholder="Subtotal" maxlength="2">
                <label class=" col-md-3 mr-2"> IVA: </label>
                <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                    placeholder="IVA" maxlength="2">
                <label class=" col-md-3 mr-2"> TOTAL: </label>
                <input type="text" class="fadeIn col-md-8" [(ngModel)]="productos.xs" name="xs" required
                    placeholder="Total" maxlength="2">
                <div class="text-center mt-2">
                    <a type="button" class="fadeIn fourth mr-2" href="login">Pagar</a>
                    <a type="button" class="fadeIn fourth " href="login">Limpiar</a></div>
            </div>

        </div>
    </div>

</form>